body {
  font-family: 'Poppins', sans-serif;
  background-color: #1e252b;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.logo {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.9);
}

.link {
  text-decoration: none;
  color: inherit;
}

.menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.55);
}

.button {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.78);
  font-family: inherit;
}
.hero-title {
  font-weight: 500;
  font-size: 50px;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.9);
}

.hero-decst {
  font-size: 18px;
  line-height: 1.67;
  color: rgba(255, 255, 255, 0.55);
}

/* =================tools================== */
.title {
  font-weight: 500;
  font-size: 48px;
  line-height: 1.3;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}

.subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.67;
  text-align: center;
  color: rgba(255, 255, 255, 0.55);
}

.tools-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.78);
}

.tools-application {
  font-size: 18px;
  line-height: 1.5;
  color: rgba(255, 165, 55, 0.55);
}

.tools-description {
  line-height: 1.88;
  color: rgba(255, 255, 255, 0.55);
}

.secondary-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #ff6e30;
}

/* =================/tools================== */

/*========= brands ============= */
.brands-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.8);
}
/*========= /brands ===============*/
/* ============team=========*/
.team-name {
  font-weight: 500;
  font-size: 26px;
  line-height: 1.5;
  letter-spacing: 0.015em;
  color: rgba(255, 253, 253, 0.78);
}
.team-position {
  line-height: 1.5;
  color: rgba(255, 253, 253, 0.55);
}
.team-text {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.015em;
  color: rgba(255, 255, 255, 0.78);
}
/*========/team=========*/
